@model GSI_M5_P1_13.Models.GuestBookModel

@{
    ViewData["Title"] = "CreateGuest";
}

<h1>CreateGuest</h1>

<h4>GuestBookModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGuest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nama" class="control-label"></label>
                <input asp-for="nama" class="form-control" />
                <span asp-validation-for="nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alamat" class="control-label"></label>
                <input asp-for="alamat" class="form-control" />
                <span asp-validation-for="alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="provinsi" class="control-label"></label>
                <input asp-for="provinsi" class="form-control" />
                <span asp-validation-for="provinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jenisKelamin" class="control-label"></label>
                <br />
                <input type="radio" asp-for="jenisKelamin" value="1" /> Laki-laki <br />
                <input type="radio" asp-for="jenisKelamin" value="0" /> Perempuan
                <span asp-validation-for="jenisKelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tanggalLahir" class="control-label"></label>
                <input asp-for="tanggalLahir" class="form-control" />
                <span asp-validation-for="tanggalLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pesan" class="control-label"></label>
                <input asp-for="pesan" class="form-control" />
                <span asp-validation-for="pesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
